<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.webber.mcorelibspace"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".NApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="svp2UBtfgLHvdz8KTA3pEbmUvlk13mB5"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.share.ShareActivity">
        </activity>
        <activity android:name=".demo.map.MapActivity">
        </activity>
        <activity android:name=".demo.map.LocationDemoActivity">
        </activity>
        <activity android:name=".demo.map.MapDemoActivity">
        </activity>
        <activity android:name=".demo.pay.PayDemoActivity">
        </activity>
        <activity android:name=".demo.net.NetDemoActivity">
        </activity>
        <activity android:name=".demo.core.CoreDemoActivity">
        </activity>
        <activity android:name=".demo.core.router.TestRouterActivity">
        </activity>
        <activity android:name=".demo.core.banner.BannerActivity">
        </activity>
        <activity android:name=".demo.core.SelectDemoActivity">
        </activity>
    </application>

</manifest>